* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: azure;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1,h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: navy;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd ;
}

@media (max-width: 600px) {
    form{
        flex-direction: coloumn;
        align-items: center;
    }

    input {
        width: 100%;
    }
}