* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    margin: 0;
    background-color: #f2f5f9;
    /* padding: 0; */
}

/* Dashboard Bar */
.dashboard-bar {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    padding: 20px 25px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.dashboard-bar h1{
    margin: 0;
}

.dashboard-bar h4 {
    margin: 5px 0 0;
    font-size: 15px;
    opacity: 0.9;
}

/* Main Split Layout */
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

 /* LEFT-Panel */
.left-panel {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    text-align: center;
    
}

.left-panel form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

/* RIGHT-Panel */
.right-panel {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
    text-align: center;
}

/* Inputs */
input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #2a5298;
}

/* Button */
button{
    padding: 12px;
    background: #2a5298;
    color: white;
    border: none ;
    border-radius: 6px;
    cursor: pointer;

}

button:hover {
    background: #1e3c72;
}

/* Table */

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #2a5298;
    color: white;
}

th,td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover td {
    background: #f1f6ff;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
}


